<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
    <!-- Required settings -->
       <add key="PYTHONPATH" value="E:\vcast\Python\DMCsiteNew\Datamatrix-Creator" />
       <add key="WSGI_HANDLER" value="app.app" />
  </appSettings>


    <system.webServer>
        <handlers>
             <add name="API_FASK" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>